.*.swp
.*.swo
*.mod
a.out
kmc.out
kmc_time.out
fort.99
aminus
aminus_2p
aminus_2pp
aminus_omega0
aplus
aplus_2p
aplus_2pp
aplus_omega0
bugHunting/
input.dat.1
input.dat.bak
input.dat.paper
kmc.eps
kmc.log
kmc.out.step
newDistenceTweak/
plot_debug.gp
po.gnu
poalgpha_1peak.gnu
poalgpha_2peaks.gnu
poalgpha_2peaks_patch.gnu
